@model ResumeViewModel
@{
    ViewData["Title"] = "Home Page";
}





<div class="text-center">
    <div class="content">
        <h1 class="display-4">
            Welcome to
        </h1>
        <p>@Model.userInfo.FirstName @Model.userInfo.LastName's Interactive Resume Please have a look around.</p>
    </div>



    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline4">
                    @{ int i = 0; int previousCompanyID = -1;}
                    @foreach (var item in Model.companyJobInfos.OrderByDescending(j => j.StartDate))
                    {
                        if (previousCompanyID != item.Company_ID)
                        {
                            previousCompanyID = item.Company_ID;
                            i++;
                    <div class="timeline">
                        <div class="timeline-content" data-toggle="modal" data-target="#myModal@(i)"  style="cursor:pointer;">
                            <span class="year">@item.StartDate.ToString("yyy")</span>
                            <div class="inner-content">
                                <h3 class="title">@item.CompanyName<br /> @item.Title</h3>
                                <p class="description"> @item.Job_Description.Substring(0, item.Job_Description.Substring(0, 100).LastIndexOf(" ")).Trim()...</p>
                            </div>
                        </div>
                    </div>

                    

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@{ i = 0; previousCompanyID = -1;}
@foreach (var item in Model.companyJobInfos.OrderByDescending(j => j.StartDate))
                    {
                        if (previousCompanyID != item.Company_ID)
                        {
                            previousCompanyID = item.Company_ID;
                            i++;
<div class="modal fade" id="myModal@(i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@item.CompanyName:  @item.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @item.Job_Description
            </div>
            <div class="modal-footer">
                <h3>@item.StartDate.ToString("MMMM yyy") - @item.EndDate.ToString("MMMM yyy")</h3>
            </div>
        </div>
    </div>
</div>
}
}


@if (Model.patent != null && Model.patent.Count() > 0)
{
<div class="container">
    <h4>Patents</h4>
    <div class="row">
        <div class="main-timeline10">
            @foreach (var item in Model.patent.OrderBy(j => j.Number))
                {
            <div class="col-md-3 col-sm-6 timeline">
                <div class="timeline-inner">
                    <div class="year">@item.DateOfPatent.ToString("yyy")</div>
                    <div class="timeline-content">
                        <div class="post">@item.Number.ToString()</div>
                        <p class="description"><a href="@item.Link" target="_blank"><img src="~/img/IMG_0805.jpg" style="width:50%; border:0px;" /></a></p>
                    </div>
                    <div class="timeline-icon">

                    </div>
                </div>
            </div>
                }

        </div>
    </div>
</div>
}






